.us-container{
    padding: 2rem;
    text-align: center;
    width: 90%;
}
.us-image1{
    width: 90%; 
    border-radius: 5px;
}
.us-header-title{
    margin-bottom: 2rem;
    color: aliceblue;
}
.us-header-subtitle{
    margin-bottom: 2rem;
     color: aliceblue;
}
.individual-container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.us-desc-container{
    margin-top: 2rem;
}
.individual-title{
    margin-bottom: 2rem;
    color: aliceblue;

}
.individual-subtitle{
    margin-bottom: 1.2rem;
    color: aliceblue;
    font-size: 1.1rem;
}
.individual-description{
    margin-bottom: 1.2rem;
    color: aliceblue;
    font-size: 1.2rem;
    line-height: 1.5rem;
    
}
/* pc */
@media only screen and (min-width: 768px) {
  .us-body-container{
    display: flex;
    flex-direction: row;
  }
  .us-image1{
    width: 40%;
   
}
.us-header-title{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.us-header-subtitle{
    margin-bottom: 4rem;
    font-size: 1.6rem;
}
.individual-description{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 2rem;
    /* max-width: 60%;
        margin: auto; */
    /* font-size: 1.2rem; */
}

}