.formulario-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente en dispositivos móviles */
  margin-top: 3rem;
}

.formulario {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.campo {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #8f0000;
  color: #fff;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #1b1b33;
  
}

.forgot-container{
  margin-top: 2rem;
}

.ingresar-mensaje{
  margin-top: 4rem;
  text-align: center;
}
.error-message{
  margin-top: 8rem;
  text-align: center;
  color:#db0209;
  width: 90%;
  
}
.error-message-ghost{
  margin-top: 8rem;
  height: 2rem;
  text-align: center;
}
.baja-title{
  text-align:center;
  margin-top: 5rem;
}
.baja-sub-title{
  text-align:center;
  margin-top: 2rem;
}

/* Media queries para escritorio */
@media only screen and (min-width: 768px) {
  .formulario-container {
    justify-content: center; /* Centra horizontalmente en dispositivos de escritorio */
  }

  .formulario {
    width: 400px;
  }
  .error-message{
   text-align: center;
    width: 90%;
  
}
}