.cursos-container{} 
.tus-cursos-header{}
.tus-cursos-container{
    font-size: 1rem;
    font-display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
    
} 
.tus-cursos-cards-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 2rem;
    text-align: center;
    width: 100%;
    margin: auto;
} 

@media(max-width:1024px){
    .tus-cursos-cards-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:767px){
    .tus-cursos-cards-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
