
 .saira {
    color: #2B4257;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 200;
    text-align: center;
    margin: 1rem;
    background-color:aliceblue
}
 @media (max-width:600px) {
  .saira{
font-size: 50px;
  }
}
 @media (min-width:600px) {
  .saira{
font-size: 80px;
  }
}

.content{
    padding-top: 10rem;
    height: 100vh;
    background-color:aliceblue


}
.hero-p{
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  margin: 1rem 0;
  padding: 0 1.3rem  ;
  font-weight: bold;
  background-color:aliceblue
}
.hero-form{
  display: flex;
  justify-content: center;
  margin: 2rem;
  background-color:aliceblue
}
.hero-button{
 
  margin: 0 .5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.1rem;
  background-color: var(--primary);
  color: var(--white);
  border-style: none;
  border-radius: 0.2rem;
}
.hero-button:hover{
  background-color: var(--tertiary);
  color: var(--white);
  cursor: pointer;
  transition: all .3s;
}
.logo-container{
  text-align: center;
  background-color:aliceblue
}
.hero-image{
 height: 7vh;
 background-color:aliceblue
 
}

@media(max-width:1039px){
.hero-p{
  font-size: 1.2rem;
  
}
}




