.video-container{
    margin-top: 50px ;
    text-align: center;
}

.program-video{
    width: 100%;
}

@media only screen and (min-width: 768px) {
  .program-video{
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}}