.clases-container{
    padding: 1rem;
}
.titles-container{
    margin: 1rem;
    text-align: center;
}
.title{
    margin-top: 3rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.subtitle{
    padding-top: 1rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
