.statistics-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 10rem;
   
   
}
.caja-estadistica{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 16rem;
    height: 13rem;
   background-color:  #1b1b33;
   border-radius: 2rem;
    text-align: center;
    
}
.estadistica-title{
     background-color:transparent;
     color:antiquewhite;
    font-size: 2rem;
}
.estadistica-subTitle{
     background-color:transparent;
    color:antiquewhite;
font-size: 5rem;
}

@media only screen and (max-width: 768px) {
  .statistics-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.caja-estadistica{
    margin:  auto;
    width: 13rem;
    height: 11rem;margin-bottom: 2rem;
   
    
}
.estadistica-title{
    
    font-size: 1.5rem;
}
.estadistica-subTitle{
    
font-size: 4rem;
}

}