.check{
    width: 30px;
    height: 30px;
    /* color: #8f0000; */
}
.about-container{
    display: flex;
    flex-direction: column;
    color: rgb(235, 235, 253);
}
.about-header-container{
    padding: 1rem;
    
}
.about-title-container{
    text-align: center;
}
.about-title{
margin-top: 2rem;
margin-bottom: 2rem;

}

.about-subtitle{
font-size: 1.3rem;
margin-bottom: 2rem;
color: rgb(235, 235, 253);
}
.about-ecosistema{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: rgb(235, 235, 253);
}

.about-items{
    margin-top: 2rem;
    width: 70%;
    margin:0 auto;
    margin-bottom: 2rem;
    color: rgb(235, 235, 253);
}
.about-item{
    margin-left: 2rem;
    color: rgb(235, 235, 253);
}
.about-item-e-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    color: rgb(235, 235, 253);
}
.about-description-container{
    padding: 1rem;
}
.about-desc-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.about-item-des{
    margin-top: 2rem;
    color: rgb(235, 235, 253);
}
.about-desc{
    margin-top: 2rem;
    line-height: 1.7rem;
    color: rgb(235, 235, 253);}
.about-icon-container{
    margin-top: 5rem;
}

@media only screen and (min-width: 768px) {
    .about-container{
    max-width: 70%;
    margin: 0 auto;
}
  .about-desc-container{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 0 auto;
  }

  .check{
    width: 60px;
    height: 60px;
    color: #8f0000;
}
.about-title{
margin-top: 3rem;
margin-bottom: 3rem;
font-size: 2rem;
}
.about-subtitle{
font-size: 1.3rem;
margin-bottom: 3rem;
font-size: 1.5rem;
}
.about-ecosistema{
    font-size: 1.3rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}
.about-text-container{
    max-width: 70%;
    margin: 0 auto;
}
.about-desc-container{
    margin-bottom: 5rem;
}

.about-desc{
    font-size: 1.3rem;
  }
}
