/* Archivo: Button.css */

.centered-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ajusta la altura según tus necesidades */
}

.custom-button {
  background: linear-gradient(to bottom, #1a237e, #0d47a1);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.custom-button:hover {
  background: linear-gradient(to bottom, #0d47a1, #1a237e);
}