/* ParagraphComponent.css */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9; /* Very light gray background */
  padding: 20px;
  margin-top: 10rem;
  margin-bottom: 3rem;
  background-color: rgba(41, 51, 92,1);
   
  
}

.footer-paragraph {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4rem;
  text-align: center;
  background-color: rgba(41, 51, 92,1);
}

.footer-title {
  font-size: 16px;
 background-color: transparent;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 1rem;
   color: aliceblue;
}

.footer-description {
  font-size: 16px;
  color: #1b1b33; /* Dark blue color */
  margin-top: 1rem;
   color: aliceblue;
   background-color: rgba(41, 51, 92,1);
}


.footer-footer-title{
  background-color: rgba(41, 51, 92,1);
  flex-direction: column;
  margin-bottom: 2rem;
  display: flex;
    justify-content: space-around;
   
}
.footer-footer-container{
  margin-bottom: 8rem;
}

/* Media query for desktop view */
@media (min-width: 1039px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-footer-container{
  margin-bottom: 8rem;
  display: flex;
  flex-direction: round;
  justify-content: space-around;
}
  
  .footer-paragraph {
    max-width: 20%;
    margin-bottom: 0;
  }
}
