.block-container {
  display: flex;
  flex-direction: column;
  background-color: #f7faff ;/* Very light gray background */
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  
}

.block-image {
    max-width:60%;
    margin: 0 auto;
  }
/* .block.image {
  width: 3rem;
  height: auto;
  margin-bottom: 20px;
} */

.block-text {
  font-size: 20px;
  color: #1b1b33; 
  text-align: center;
  
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.block-title {
  font-size: 24px;
  color: #1b1b33; 
  text-align: center;
  margin-top: 0.5rem;
}

.block-button{
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #1b1b33;
  color: aliceblue;
  cursor: pointer;
}
.block-button:hover{
  background-color:  #8f0000;
  
}
.block-text-container{
       flex-direction: column;
       text-align: center;
       margin-bottom: 5rem;
        }

/* Media query for desktop view */
@media (min-width: 1039px) {


  .block-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .block-image {
    max-width:40%;
    margin-right: 10rem;
    margin-bottom: 5rem;
  }
  .block-text-container{
       flex-direction: column;
       text-align: left;
        }

  .block-text {
    font-size: 1.5rem;
    text-align: left;
    color:  #1b1b33;
    
  }
  .block-title {
     font-size: 2rem;
    text-align: left;
    color:  #1b1b33;
    margin-bottom: 2rem;
  }

  .block-button{
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #1b1b33;
  color: aliceblue;
  cursor: pointer;
}
.block-button:hover{
  background-color:  #8f0000;
  
}
}