.block-container {
  display: flex;
  flex-direction: column;
  background-color: #f7faff ;/* Very light gray background */
  padding: 20px;
  max-width: 1000px;
  margin: 5rem auto;
  background-color: rgba(60, 75, 140,1);
  border: 0.1px solid rgba(130, 153, 255,1) ;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  
}

.block-image {
    max-width:60%;
    margin: 0 auto;
    border-radius: 10px;
  }


.block-text {
  font-size: 20px;
  color: #1b1b33; 
  text-align: center;
  
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color:aliceblue
}
.block-title {
  font-size: 24px;
  color: #1b1b33; 
  text-align: center;
  margin-top: 0.5rem;
  background-color:aliceblue
}

.block-button{
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #1b1b33;
  color: aliceblue;
  cursor: pointer;
}
.block-button:hover{
  background-color:  #8f0000;
  
}
.block-text-container{
  padding: 1.5rem;
  border-radius: 10px;
       flex-direction: column;
       text-align: center;
       margin-top: 3rem;
       margin-bottom: 3rem;
       background-color:aliceblue
        }

/* Media query for desktop view */
@media (min-width: 1039px) {


  .block-container {
    margin: 5rem auto;
    flex-direction: row;
    justify-content: center
  }

  .block-image {
    max-width:40%;
   
  }
  .block-text-container{
       flex-direction: column;
       text-align: left;
       margin-left: 2rem;
        }

  .block-text {
    font-size: 1.5rem;
    text-align: left;
    color:  #1b1b33;
    
  }
  .block-title {
     font-size: 2rem;
    text-align: left;
    color:  #1b1b33;
    margin-bottom: 2rem;
  }

  .block-button{
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #1b1b33;
  color: aliceblue;
  cursor: pointer;
}
.block-button:hover{
  background-color:  #8f0000;
  
}
}