.jornadas-image{
    width: 100%;
    margin: 0 auto
}
.salto-image{
    width: 100%;
    margin: 0 auto
}
.cursos-header-container{
    padding: 2rem;
}
.cursos-container{
    padding: 2rem;

}
.curso-container{
    margin-bottom: 4rem;
    text-align: center;
}
.curse-title{
margin-bottom: 2rem;
}
.curse-subtitle{
margin-bottom: 2rem;
}
.curse-agotado{
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    

}


@media only screen and (min-width: 768px) {
  .jornadas-image{
    width: 60%;
    margin: 0 auto
}
.salto-image{
    width: 60%;
    margin: 0 auto
}

.curso-container{
    margin-bottom: 4rem;
    text-align: center;
}

.curso-header-title{
    margin-top: 3rem;
    text-align: center;

}
.curso-header-subtitle{
    margin-top: 3rem;
    font-size: 1.5rem;
    text-align: center;

}

}